.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}

.proj-item {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-right: 10em;
  margin-bottom: 5em;
}

.proj-pic {
  width: 700px;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.proj-pic:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.proj-item-inner {
  width: 100%;
  display: flex;
}

.proj-text {
  color: rgb(105, 105, 105);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  margin-top: 3em;
  margin-left: 2em;

  display: none;
}

/* On hover on pic show proj.text */
.proj-pic:hover ~ .proj-text {
  display: block;
}

@media only screen and (max-width: 768px) {
  .proj-pic {
    width: 600px;
  }
  .proj-item {
    width: auto;
    margin-right: 0em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .proj-text {
    font-size: 200%;
    margin-top: 0.5em;
    margin-left: 0.5em;

    display: block;
  }
  .proj-item-inner {
    display: flex;
    flex-direction: column;
  }
}
