.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.proj-item {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-right: 10em;
  margin-bottom: 5em;
}

.proj-pic {
  width: 80%;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.proj-pic:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}
