/* Cascading Style Sheet */

.nav-container {
  display: flex;
}

.left-item {
  margin-left: 17%;
  margin-top: 2%;
}

.right-item {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.name-item {
  margin: 0;
  height: 40px;
}
